---
 const personalImageAlt = "Miguel Ángel"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-[#ff501f] dark:[&>p>strong]:text-[#ff501f] [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >


    <p>
      I'm Alejandro Esparza, a technology and web development enthusiast, <strong>always looking to improve</strong> and learn new things.
    </p>

    <p>
      Among my greatest achievements is the <strong>award for the best job growth</strong>, obtained in 2022.
    </p>
    <p>Outside of work I enjoy exercise and music, and I am currently <strong>learning Japanese 日本語</strong>.</p>
  </div>

  <img width="200" height="200" src="/me.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 lg:p-2 lg:w-64 aspect-square rounded-full bg-black/20 dark:bg-red-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>

