<div class="flex items-center ">
<span class="relative inline-flex overflow-hidden rounded-full p-[1px]">

  <div class="inline-flex items-center justify-center w-full px-3 py-1 border-zinc-400/50 border-[2px] text-sm text-white bg-[#394b66] rounded-full cursor-pointer dark:bg-[#07090c] dark:text-white backdrop-blur-3xl whitespace-nowrap">
    <slot />
  </div>
</span>
</div>